<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Educação Financeira</title>

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css">
   <link rel="stylesheet" href="../css/style.css">

</head>
<body>

<header class="header fixed-top">

   <div class="container">

      <div class="row align-items-center justify-content-between">

         <a href="#home" class="logo"><span><i class="fa fa-line-chart" aria-hidden="true"></i></span>  Educação Financeira</a>

         <nav class="nav">
            <a href="../index.html">Ínicio</a>
            <a href="../views/investimento.html#cursos">Cursos</a>
            <a href="../views/investimento.html#ferramentas">Ferramentas</a>
            <a href="../views/investimento.html#recursosUteis">Recursos Úteis</a>
            <a href="../views/contato.html">Consultoria</a>
         </nav>

         <div id="menu-btn" class="fas fa-bars"></div>

      </div>

   </div>

</header>

<section class="contact" id="contact">

    <h1 class="heading">Consultoria</h1>
 
    <form action="https://formsubmit.co/diego.dev.bessa@gmail.com" method="post">
       <input type="hidden" name="_autoresponse"
       value="Recebemos seu pedido de agendamento, logo entraremos em contato." />
       <input type="hidden" name="_next" value="https://bessadiego.github.io/blog-investimento/views/contato.html" />
       
       <span>nome :</span>
       <input type="text" name="name" placeholder="digite seu nome" class="box" required>
       <span>email :</span>
       <input type="email" name="email" placeholder="digite seu email" class="box" required>
       <span>telefone :</span>
       <input type="tel" name="tel" placeholder="digite seu número" class="box" required>
       <span>Escolha uma data :</span>
       <input type="datetime-local" name="date" class="box" required>
       <input type="submit" value="Marcar Agendamento" name="submit" class="link-btn">
    </form>  
 
 </section>

<section class="footer">

   <div class="box-container container">

      <div class="box">
         <i class="fas fa-phone"></i>
         <h3>Número de Telefone</h3>
         <p>+55 92 992793770</p>
         <p>+55 92 981945756</p>
      </div>
      
      <div class="box">
         <i class="fas fa-map-marker-alt"></i>
         <h3>Endereço</h3>
         <p>manaus, Brasil - 6980321</p>
      </div>

      <div class="box">
         <i class="fas fa-clock"></i>
         <h3>Funcionamento</h3>
         <p>08:00 as 10:00</p>
      </div>

      <div class="box">
         <i class="fas fa-envelope"></i>
         <h3>Email</h3>
         <p>diego.dev.bessa@gmail.com</p>
      </div>

   </div>

   <div class="credit">Desenvolvidor por Daniel Boneth e Diego Bessa</div>

</section>


<script src="../js/script.js"></script>

</body>
</html>