<!DOCTYPE html>
<html lang="pt-br">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Educação Financeira</title>

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css">
   <link rel="stylesheet" href="../css/style.css">

</head>
<body>

<header class="header fixed-top">

   <div class="container">

      <div class="row align-items-center justify-content-between">

         <a href="#home" class="logo"><span><i class="fa fa-line-chart" aria-hidden="true"></i></span>  Educação Financeira</a>

         <nav class="nav">
            <a href="../index.html">Ínicio</a>
            <a href="#dicas"></a>
            <a href="#cursos">Cursos</a>
            <a href="#ferramentas">Ferramentas</a>
            <a href="#recursosUteis">Recursos Úteis</a>
            <a href="../views/contato.html">Consultoria</a>
         </nav>

         <div id="menu-btn" class="fas fa-bars"></div>

      </div>

   </div>

</header>

<section class="about" id="about">

    <div class="container">
 
       <div class="row align-items-center" id="dicas">
 
          <div class="col-md-6 image">
             <img src="../images/slide-1.png" class="w-100 mb-5 mb-md-0" alt="">
          </div>
 
          <div class="col-md-6 content">
             <h3>Dicas Financeiras</h3>
             <ul>
                <li>Economize uma porcentagem de sua renda regularmente.</li>
                <li>Crie um orçamento mensal e siga-o de perto.</li>
                <li>Evite dívidas de cartão de crédito, se possível.</li>
                <li>Invista em sua educação financeira, aprendendo sobre investimentos.</li>
             </ul>
          </div>
 
       </div>

       <div class="row align-items-center" id="cursos">
 
        <div class="col-md-6 image">
           <img src="../images/slide-2.png" class="w-100 mb-5 mb-md-0" alt="">
        </div>

        <div class="col-md-6 content">
           <h3>Cursos</h3>
           <ul>
              <li><a href="https://www.coursera.org/specializations/financial-management">Gestão Financeira (Coursera)</a></li>
              <li><a href="https://www.udemy.com/course/financial-literacy-finance-for-non-finance-people/">Literacia Financeira (Udemy)</a></li>
              <li><a href="https://www.edx.org/learn/personal-finance">Finanças Pessoais (edX)</a></li>
           </ul>
        </div>

     </div>

     <div class="row align-items-center" id="ferramentas">
 
        <div class="col-md-6 image">
           <img src="../images/slide-3.png" class="w-100 mb-5 mb-md-0" alt="">
        </div>

        <div class="col-md-6 content">
           <h3>Ferramentas</h3>
           <ul>
              <li><a href="https://www.mint.com/">Mint</a> - Para orçamentação e rastreamento de despesas.</li>
              <li><a href="https://www.personalcapital.com/">Personal Capital</a> - Para planejamento de aposentadoria e investimentos.</li>
              <li><a href="https://www.youneedabudget.com/">You Need a Budget (YNAB)</a> - Para orçamentação baseada em prioridades.</li>
           </ul>
        </div>

     </div>

     <div class="row align-items-center" id="recursosUteis">
 
        <div class="col-md-6 image">
           <img src="../images/slide-4.png" class="w-100 mb-5 mb-md-0" alt="">
        </div>

        <div class="col-md-6 content">
           <h3>Recursos Úteis</h3>
           <ul>
              <li><a href="https://www.bcb.gov.br/educacaofinanceira">Banco Central do Brasil - Educação Financeira</a></li>
              <li><a href="https://www.b3.com.br/pt_br/">B3 - Bolsa de Valores</a></li>
              <li><a href="https://www.cvm.gov.br/">CVM - Comissão de Valores Mobiliários</a></li>
        </ul>
        </div>

     </div>
 
    </div>
 
 </section>

<section class="footer">

   <div class="box-container container">

      <div class="box">
         <i class="fas fa-phone"></i>
         <h3>Número de Telefone</h3>
         <p>+55 92 992793770</p>
         <p>+55 92 981945756</p>
      </div>
      
      <div class="box">
         <i class="fas fa-map-marker-alt"></i>
         <h3>Endereço</h3>
         <p>manaus, Brasil - 6980321</p>
      </div>

      <div class="box">
         <i class="fas fa-clock"></i>
         <h3>Funcionamento</h3>
         <p>08:00 as 10:00</p>
      </div>

      <div class="box">
         <i class="fas fa-envelope"></i>
         <h3>Email</h3>
         <p>diego.dev.bessa@gmail.com</p>
      </div>

   </div>

   <div class="credit">Desenvolvidor por Daniel Boneth e Diego Bessa</div>

</section>

<script src="../js/script.js"></script>

</body>
</html>